html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globlaes*/
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 4.2rem;
}

h2{
    font-size: 3.8rem;
}

h3{
    font-size: 3.4rem;
}

p{
    font-size: 1.8rem;
}

img{
    width: 100%;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 1rem auto 2rem auto;
    background-color: #f2f4f4;
    padding: 1rem 3rem;
}
.contenido-centrado{
    max-width: 90rem;
}

/*Utilidades*/
.fw-300{
    font-weight: 300;
}

.centrar{
    text-align: center;
}

/*Botones*/
.boton{
    text-decoration: none;
    color: #b7950b;   
    transition: color .3s ease-in-out;
}

.boton:hover{
    color:  #a04000;
}

.btnVolver{
    text-decoration: none;
    display: inline-block;
    color: #b7950b;   
    transition: color .3s ease-in-out;
    font-size: 1.8rem;
    margin: 2rem;
    background-color: #e1e1e1;
    padding: 1rem 3rem;
}

.btnVolver:hover{
    color:  #a04000; 
}

/*Header*/
.site-header.inicio{
    background: url(../img/hero.jpg);
    height: 90vh;
    min-height: 60rem;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.site-header.inicio::after{
    content: '';
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    .contenido-header{
        align-items: flex-end;
    }
}

.barra{
    z-index: 1;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .barra{
        padding: 4rem 4rem 0 0;
    }
}

.navegacion a{
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 2rem;
    transition: all .3s ease-in-out;
}

.navegacion a:hover{
    color: #c3c915;
}

@media (min-width: 768px) {
    .navegacion a{
        display: inline;
        margin-right: 3rem;
    }
}

.titulo{
    z-index: 1;
}

.contenido-header h1{
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 6rem;
    max-width: 60rem;
    line-height: 1.7;
}

@media (min-width: 768px) {
    .titulo{
        padding-right: 50rem;
    }
}

/*Main*/
.contenido-principal{
    margin-top: 6rem;
}

.contenedor-productos{
    border-bottom: 1px solid #717d7e;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .contenedor-productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio{
    flex-shrink: 0;
    margin-bottom: 1rem;
}

.anuncio img{
    border-radius: 10%;
}

@media (min-width: 768px) {
    .anuncio{
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.contenido-anuncio{
    text-align: center;
    font-size: 1.8rem;
}

.contenedor-productos:last-of-type{
    border-bottom: none;
}

/*Imagen Contacto*/
.img-contacto{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    position: relative;
}

.img-contacto::after{
    content: '';
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contenido-contacto{
    font-size: 1.8rem;
    color: #ffffff;
    z-index: 1;
    text-align: center;
}

/**Footer**/
.footer{
    background-color: #333333;
    margin: 0 auto;
    
}

.contenedor-footer{
    padding: 3rem;
    display: block;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .contenedor-footer{
        display: flex;
    }
}


/**Contacto**/
legend{
    font-size: 2rem;
    color: #4f4f4f;
}

label{
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 1.5rem 0 0 3rem;
}

input:not([type = "submit"]),
textarea{
    padding: 1.5rem;
    display: block;
    width: 85%;
    background-color: #e1e1e1;
    margin: 1.3rem 0 2rem 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    input:not([type = "submit"]),
    textarea{
        width: 90%;
    }
}

textarea{
    height: 20rem;
}

.submit{
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    background-color: #ffffff;
    color:#b7950b;
    background-color: transparent;
    border-radius: 0.6rem;
    border: 2px solid #b7950b;
    transition-duration: 0.4s;
    text-transform: uppercase;
    text-align: center;
    margin-right: 3rem;
}

.submit:hover{
    background-color: #b7950b;
    color: white;
}

/**Productos**/
.galeria{
    padding: 2rem;
    background-color: #e1e1e1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.galeria_items{
    width: 80%;
    cursor: pointer;
}

@media (min-width: 480px) {
    .galeria_items{
        width: 20%;
        margin: 1rem;
    }
}

/**Galeria**/
.nosotros{
    margin: 2rem 0;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
  }



  